# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Export Post'
      'command': 'medium-export:export'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'medium-export'
      'submenu': [
        {
          'label': 'Export Post'
          'command': 'medium-export:export'
        }
      ]
    ]
  }
]
